body{
    background: Gray;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#Container{
    width:55%;
    margin:10px auto;  
    text-align: left;
    background-color: #E4E3E3;
    border: 1px solid #000000;
}

#Content{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#Content aside{
    display: inline-block;
    width: 49%;
    margin: 5px 2px 5px 2px;
    padding: 0;
    height:100%;
    border: 1px solid black;
}

#Content aside h3{
    text-align: center;
}
/*-----------------------------------------------Navigation CSS------------------------------------------*/
.Navigation{
    width:55%;
    margin:auto;
    text-align: left;
}

.Navigation h1{
    display: inline-block;
    width: 60%;
    margin: 0;
    padding: 0;
}

.logo{
    width: 300px;
    height: 75px;
}

.Navigation ul{
    display: inline-block;
    width: 35%;
    text-align: right;
    margin: 0;
    padding: 0;
}

.Navigation ul li{
    display: inline-block;
    border: 1px solid black;
    margin: 1px;
    background: #FAEBD7;
}

.Navigation ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 7px 8px;
    color: black;
}

.Navigation ul li a:hover:not(.active){
    background-color: #87CEFA;
}

.active{
    background-color: #F0F8FF
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch input
{
    display:none;
}
/*---------------------------------------------------Ask CSS---------------------------------------------*/

.AQuestDiv{
    margin: auto;
    width: 75%;
}

.AQuestDiv table{
    width: 90%;
    margin: auto;
}

.AQuestTitle{
    width: 99%;
}

.AQuestDiv textArea{
    width: 99%;
}

/*------------------------------------------------Question View CSS---------------------------------------*/
#QuestionBody {
    margin: auto;
    width: 90%;
}

#QuestionTitle{
    text-align: center;
    margin: auto;
}

#Answers{
    width: 90%;
    margin: auto;
}

#Answers ul{
    width: 80%;
    margin: auto;
}

#Answers ul li{
    width: 100%;
    border: 1px solid black;
    background-color: #F0F8FF;  
    display: block;
}

#AnswerScore{
    width: 10%;
    display: inline-block; 
}

#AnswerText{
    width: 80%;
    display: inline-block; 
}

/*--------------------------------------------------Questions CSS-------------------------------------------*/
.QuestionList{
    width: 95%;
    margin: 0px auto;
}

.QuestionList div{
    width: 75%;
    margin: 0px auto;
    padding: 0px;
    border: 1px solid black;
    display: block;
}

#questionScore{
    width: 10%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: none;
    border-right: 1px solid black;
}

#questionTitleLink{
    width: 80%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: none;
    border-left: 1px solid black;
}

/*----------------------------------------------Questions Front Page----------------------------------------*/
.PQuest{
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.PQuest div{
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    border: 1px solid black;
}

.TQuest{
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.TQuest div{
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    border: 1px solid black;
}