body{
    background: Gray;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#Container{
    width:55%;
    margin:10px auto;  
    text-align: left;
    background-color: #E4E3E3;
    border: 1px solid #000000;
}

#Content{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#Content aside{
    display: inline-block;
    width: 49%;
    margin: 5px 2px 5px 2px;
    padding: 0;
    height:100%;
    border: 1px solid black;
}

#Content aside h3{
    text-align: center;
}
/*-----------------------------------------------Navigation CSS------------------------------------------*/
.Navigation{
    width:55%;
    margin:auto;
    text-align: left;
}

.Navigation h1{
    display: inline-block;
    width: 60%;
    margin: 0;
    padding: 0;
}

.logo{
    width: 300px;
    height: 75px;
}

.Navigation ul{
    display: inline-block;
    width: 35%;
    text-align: right;
    margin: 0;
    padding: 0;
}

.Navigation ul li{
    display: inline-block;
    border: 1px solid black;
    margin: 1px;
    background: #FAEBD7;
}

.Navigation ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 7px 8px;
    color: black;
}

.Navigation ul li a:hover:not(.active){
    background-color: #87CEFA;
}

.active{
    background-color: #F0F8FF
}
/*---------------------------------------------------Ask CSS---------------------------------------------*/

.AQuestDiv{
    margin: auto;
    width: 75%;
}

.AQuestDiv table{
    width: 90%;
    margin: auto;
}

.AQuestTitle{
    width: 99%;
}

.AQuestDiv textArea{
    width: 99%;
}

/*------------------------------------------------Question View CSS---------------------------------------*/
#QuestionBody {
    margin: auto;
    width: 90%;
}

#QuestionTitle{
    text-align: center;
    margin: auto;
}

#Answers{
    width: 90%;
    margin: auto;
}

#Answers table{
    width: 80%;
    Margin: auto;
}

#Answers table tr td{
    width: 100%;
    border: 1px solid black;
    background-color: #F0F8FF;
}

/*--------------------------------------------------Questions CSS-------------------------------------------*/
.QuestionList{
    width: 95%;
    margin: 0px auto;
}

.QuestionList div{
    width: 75%;
    margin: 0px auto;
    padding: 0px;
    border: 1px solid black;
    display: block;
}

.QuestionList #questionScore{
    width: 25%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: none;
}

.QuestionList #questionTitleLink{
    width: 65%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: none;
}

/*----------------------------------------------Questions Front Page----------------------------------------*/
.PQuest{
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.PQuest div{
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    border: 1px solid black;
}

.TQuest{
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.TQuest div{
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    border: 1px solid black;
}