body{
    background: Gray;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#Container{
    width:55%;
    margin:10px auto;  
    text-align: left;
    background-color: #E4E3E3;
    border: 1px solid #000000;
}

#Content{
    width: 100%;
    height: 100%;
}

#Content aside{
    display: inline-block;
    width: 49%;
    margin: 5px 2px 5px 2px;
    padding: 0;
    height:100%;
    border: 1px solid black;
}

#Content aside h3{
    text-align: center;
}

/*---------------------------------------------------Form CSS---------------------------------------------*/

