/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.votes{
    border: 1px solid black;
}

.QuestionSummary a{
    display: block;
    border: 1px solid black;
}

.tags{
   display: inline-block;
   border: 1px solid black;
}

.poster{
   display: inline-block;
   border: 1px solid black;
}