/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.votes{
    
}

.QuestionSummary a{
    display: block;
}

.tags{
   display: inline-block; 
}

.poster{
   display: inline-block; 
}